<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>date</servlet-name>
        <jsp-file>/date.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>date</servlet-name>
        <url-pattern>/date</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>add</servlet-name>
        <jsp-file>/add.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mult</servlet-name>
        <jsp-file>/mult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mult</servlet-name>
        <url-pattern>/mult/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>search</servlet-name>
        <jsp-file>/search.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
</web-app>